@media  screen and (max-width: 768px) {

    header.main .nav {
        padding: 10px 20px;
        gap: 30px;
    }

    header.main .hero-images {
        margin-left: 0px;
    }

    header.main .container {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0 30px;
    }

    header.main .content {
        font-size: 13px;
        gap: 0;
        flex-wrap: wrap;
    }

    header.main .nav .content .content-2 {
        padding-left: 20px !important;
    }

    header.main .nav .content .content-3 {
        padding: 0 0 0 20px;
        background: transparent;
    }

    .hero-main .logo img,
    .hero-main .images img {
        width: 100%;
        height: auto;
    }

    .hero-images img {
        width: 100%;
    }

    .hero-main .logo {
        width: 75%;
    }

    .hero-main .text {
        margin-top: -50px;
        font-size: 9pt;
    }

    header.main .hero-main {
      padding-top: 30px;
    }

    header.main .hero-box {
        background: #ffffff;
        width: 100%;
        display: flex;
        flex-direction: row;
        border-radius: 37px;
        margin-top: -60px;
    }

    .hero-box .box-image {
        width: 55%;
        margin-bottom: -130px;
    }

    .hero-box .box-content {
        width: 55%;
        padding: 20px;
    }

    .hero-box .box-image img {
        position: relative;
        bottom: 0;
        margin-top: 41px;
    }

    .golfer {
        width: 100%;
        margin: 0 auto;
        padding: 20px 10px;
    }

    .golfer-left {
        gap: 25px;
    }

    .golfer-left .golfer-name {
        font-size: 15px;
    }

    .content-item .content-left {
        font-size: 16px;
    }

    .content-text .content-item {
        margin-bottom: 15px;
        align-items: flex-start;
        gap: 10px;
    }

    .box-content .header .title {
        font-size: 25px;
    }

    /* P2 SECTION */
    .p2 .container-box {
        z-index: 10;
        padding: 40px 30px;
        background: #ffffff;
        width: 100%;
        clip-path: NONE;
        margin-bottom: 0;
        position: relative;
    }

    .p2 img {
        position: relative;
        width: 800px;
        height: auto;
        object-fit: cover;
        margin-bottom: -170px;
    }

    section.p2 {
        position: relative;
        height: auto;
        display: flex;
        align-items: flex-end;
        margin-top: -65px;
        flex-direction: column;
    }

    .box .header-title {
        font-size: 22px;
    }

    /* P3 SECTION */
    section.p3 {
        overflow: hidden;
    }

    .p3 .header-title h2 {
        font-size: 32px;
    }

    .p3 .header-text p {
        font-size: 18px;
    }

    .p3 .item .title h4, .p3 .item .description p {
        font-size: 15px;
        line-height: 23px
    }

    .p3 .container-box {
        padding: 50px 30px;
        position: relative;
        z-index: 10 !important;
    }

    .p3 .container-box .header {
        padding-left: 0;
        margin-bottom: 60px;
    }

    .p3 .container-box .item-list {
        width: 70%;
    }

    .item-list .item {
        padding: 10px;
    }

    .p3 img {
        position: absolute;
        top: 30px;
        right: -100px;
        z-index: 10;
        width: 60%;
    }
    .bg-clip-gradient {
        height: 60%;
        clip-path: polygon(60% 0, 100% 0, 100% 100%, 100% 100%);
    }

    /* P4 SECTION */

    .p4 .container.table {
        padding: 30px 20px;
        width: 100%;
    }

    .table-schedule {
        width: 100%;
    }

    .table-schedule th ,
    .table-schedule td {
        font-size: 10px;
    }

    .table-schedule tr > td:first-child {
        font-size: 9px;
    }

    .table-schedule td.bg-dark-green,
    .table-schedule td.bg-light-green,
    .table-schedule td.bg-blue {
        font-size: 10px;
        padding: 5px;
    }

    section.p5.gallery, section.p5.video, section.p7 {
        padding: 30px;
    }

    section.p5.gallery .container {
        width: 100%;
    }

    .header-logo {
        margin-bottom: 40px;
    }

    .img-logo img {
        width: 100%;
    }

    .header-text p {
        font-size: 16px;
        line-height: 27px;
    }

    .image-preview img {
        width: 100%;
    }

    .image-list img {
        width: 100%;
    }

    .p5 .image-gallery,
    .p5 .image-list {
        gap: 5px;
    }

    /* P5 SECTION */

    section.p5.video .container {
        width: 100%;
    }

    .p5.video .header-title {
        width: 30%;
    }

    .p5.video .header-title h2 {
        font-size: 40px;
    }

    .p5.video .header-title h3 {
        font-size: 26px;
    }

    .p5.video .header {
        margin-bottom: 0;
    }

    .p5.video .header p {
        font-size: 16px;
        line-height: 27px;
        width: 70%;
    }

    .video-list {
        gap: 10px;
    }

    .video-item {
        width: 31.5%;
    }

    .video-text {
        padding: 30px;
    }

    .video-text h4 {
        font-size: 16px;
    }

    .video-text p {
        font-size: 13px;
    }

    .p5 .header h2 {
        font-size: 40px;
    }

    .p5 .header p {
        font-size: 20px;
    }

    section.p5 {
        padding: 30px;
    }

    section.p5 .container {
        width: 100%;
    }

    .p5 .header {
        margin-bottom: 40px;
    }

    /* P6 SECTION */
    section.p6 {
        padding: 30px;
    }

    section.p6 .container {
        width: 100%;
    }

    .p6 .header {
        align-items: flex-start;
        margin-bottom: 60px;
    }

    .p6 .header-title {
        width: 30%;
    }

    .p6 .header-title h2 {
        font-size: 40px;
    }

    .header-title h3 {
        font-size: 30px;
    }

    .p6 .header p {
        font-size: 16px;
        width: 70%;
        line-height: 27px;
    }

    .p6 .image-list {
        gap: 10px;
    }

    .p6 .image-item {
        gap: 20px;
        flex: 0 0 30.5%;
    }

    .p6 .image-item h4 {
        font-size: 14px;
    }


    section.heading-text {
        padding: 30px;
    }

    section.heading-text .container {
        width: 100%;
    }

    .heading-text .header-1 {
        font-size: 30px;
        padding-bottom: 40px;
    }

    .heading-text .header-2 {
        font-size: 38px;
    }

    /* P7 SECTION */

    section.p7 {
            padding: 30px 30px 90px 30px;
        }

    .p7 .container h2 {
        margin-bottom: 40px;
    }

    .button-contact {
        padding: 25px 40px;
        font-size: 18px;
        margin-top: -100px;
    }

    section.p7 .container {
        width: 100%;
        padding-bottom: 50px;
    }

    .p7 .container h2 {
        width: 100%;
    }

    .p7-item h3 {
        font-size: 20px;
    }

    .p7-item {
        width: 47%;
    }

    .p7-item img {
        width: 100%;
    }

    /* P7 SECTION */

    .p8 .container {
        width: 100%;
    }

    .p8 h2 {
        font-size: 35px;
    }

    .p8 p:nth-child(2) {
        font-size: 16px;
    }

    .p8 p:nth-child(3) {
        font-size: 20px;
    }

    .contact-item.icons img {
        width: 40px;
    }

    .phone-img img {
        width: 40px;
    }

    .contact-list .phone-number p {
        font-size: 16px;
    }

    footer {
        padding: 30px;
    }

    footer .container {
        width: 100%;
    }


    footer {
        padding: 30px;
    }

    footer .container {
        width: 100%;
    }
    header.main .nav .content .content-1, header.main .nav .content .content-2, header.main .nav .content .content-3 {
        font-size: 10pt;
    }
    header.main .hero-images img {
        width: 16rem;
    }
    .p5 .image-gallery, .p5 .image-list {
        gap: 7px;
    }
    .image-gallery .image-list img:hover,
    .image-gallery .image-list img.active {
        outline: 3px solid #6fba2d;
    }
    .modal-content {
        width: 90%;
    }
    section.p5.gallery, section.p5.video, section.p7, section.p5, section.p6{
        padding: 0;
    }
    .p5 .header , .p6 .header{
        margin-bottom: 0;
    }
    .p6 .image-item {
        flex: 0 0 32%;
    }
}