.flex {display: flex;}
.flex.justify-center {justify-content: center;}
.flex.justify-start {justify-content: flex-start;}
.flex.justify-end {justify-content: flex-end;}
.flex.justify-between {justify-content: space-between;}
.flex.wrap {flex-wrap: wrap;}
.flex.align-center {align-items: center;}
.flex.align-end {align-items: end;}
.flex.align-content-center {align-content: center;}
.flex .align-self-end {align-self: end}
.text-left {text-align: left !important;}
.text-right {text-align: right !important;}
.relative {position: relative;}
.nowrap {text-wrap: nowrap;}
.gap2rem {gap: 2rem;}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
body img.responsive {
  width: 100%;
  height: auto;
}
body .hero {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 1) 100%), url('bg.png');
  background-size: cover;
  background-position: center;
  position: relative; /* Ensures the container can hold absolute positioned elements */
  z-index: -1;
}

p {
  font-size: 14px;
}
header {
  display: flex;
  align-items: center;
  padding: 0.5rem 3rem;
  gap: 5rem;
}
header div:nth-of-type(1) {
  display: flex;
  align-items: center;
}
header img.logo {
  height: 30px;
}
header ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}
header ul li {
  position: relative; /* Needed if we decide to use pseudo-elements for borders */
  padding-right: 1rem; /* Adds some padding to avoid the border overlapping the text */
}
header ul li:not(:last-child)::after {
  content: ""; /* Necessary for a pseudo-element */
  position: absolute;
  right: 0; /* Align the pseudo-element to the right of the li */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Shift it back by half its height to truly center it */
  height: 60%; /* Adjust this value to change the height of the border */
  width: 2px; /* The width of the border */
  background-color: white; /* The color of the border, can be changed as needed */
}
header ul li a {
  color: white;
  text-decoration: none;
}
header ul li button {
  background: rgba(100, 100, 100, 0.22);
  border-radius: 25px;
  border: none;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(34px);
  gap: 0.5rem;
}
header ul li button img {
  max-height: 15px;
  width: unset !important;
}
body section.first {
  display: flex;
  padding: 0 8rem;
}
body section.first p {
  font-size: 18px;
}
body section.first .left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
}
body section.first .left-content img:nth-of-type(1) {
  max-width: 22rem;
}
body section.first .left-content img:nth-of-type(2) {
  max-width: 41rem;
}
body section.first .left-content img:nth-of-type(3) {
  max-width: 120rem;
}

body section.first .left-content p {
  color: white;
  letter-spacing: 0.3px;
  font-weight: 500;
}
body section.first .right-content img {
  margin-left: -5rem;
  margin-top: -1rem;
}

main section.second {
  background: white;
  display: flex;
  padding: 0.5rem 5rem;
  max-width: 59%;
  margin: 0 auto;
  border-radius: 37px;
  gap: 3rem;
  margin-top: -8rem;
  padding-bottom: 0;
}
main section.second .photo-container {
  align-self: end;
  width: 45%;
}
main section.second p.title {
  margin-right: 1rem;
  font-size: 24px;
  font-weight: 600;
}
main section.second img.title-img {
  max-height: 20px;
  margin-right: 0.5rem;
}
main section.second p.sub-title {
  color: #669331;
}
main section.second div.list {
  display: flex;
  align-items: center;
  gap: 2rem;
}
main section.second p:nth-of-type(1) {
  font-weight: 600;
  text-wrap: nowrap;
  font-size: 18px;
}
main section.second p:nth-of-type(2) {
  font-weight: 500;
}
main section.second img {
  margin-bottom: -70px;
}
